{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": [
        "config/**/*.js",
        "scripts/**/*.js"
      ]
    }],
    "import/extensions": [
      "error",
      "always",
      {
        "js": "never",
        "jsx": "never",
        "mjs": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "react/jsx-filename-extension": ["error", { "extensions": [".jsx", ".tsx"] }],
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-spreading": "off",
    "object-curly-newline":"off"
  },
  "settings": {
    "import/resolver": {
      "node": { "extensions": [".js", ".jsx", ".mjs", ".json", ".d.ts", ".ts", ".tsx"] }
    }
  }
}