{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "import/extensions": [
      "error",
      "always",
      {
        "js": "never",
        "jsx": "never",
        "mjs": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx", ".tsx"] }],
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-spreading": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "object-curly-newline": "off",
    "no-plusplus": "off",
    "react/prop-types": "off"
  },
  "settings": {
    "import/resolver": {
      "node": { "extensions": [".js", ".jsx", ".mjs", ".json", ".d.ts", ".ts", ".tsx"] }
    }
  }
}
