version: 2

step-install: &step-install
  run: npm i

step-build: &step-build
  run: npm run build

filter-tag: &filter-tag
  tags:
    only: /^v.*/

filter-tag-only: &filter-tag-only
  <<: *filter-tag
  branches:
    ignore: /.*/

jobs:
  lint:
    docker:
      - image: circleci/node:10.15.2-jessie-browsers-legacy
    steps:
      - checkout
      - *step-install
      - run: npm run lint
  build-win-linux:
    type: approval
    environment:
      GH_TOKEN: $GH_TOKEN
      CI: false
    docker:
      - image: electronuserland/builder:wine
    steps:
      - checkout
      - *step-install
      - *step-build
      - run: npx electron-builder --win --linux --x64 --ia32 -p always

workflows:
  version: 2
  dist:
    jobs:
      - build-win-linux
      # - lint:
      #     filters:
      #       <<: *filter-tag
      # - build-win-linux:
      #     requires:
      #       - lint