body {
  background-color: #1d1d1d;
  user-select: none;
}

.btn {
  margin: 8px;
}

.MatchDetails ul.horizontal {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.MatchDetails .details {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.MatchDetails .details div {
  box-sizing: border-box;
  flex: 1 1 calc(50% - 20px);
}

.players, .beatmap {
  padding: 1rem;
  width: 50vh;
  flex-grow: 5;
}

.beatmap div {
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

.TitleBar {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.Nav {
  padding-top: 30px;
  position: fixed;
  width: 100%;
}

.separator {
  margin: 15px auto;
  width: 90%;
  height: 1px;
  background-color: #fff;
}