.App {
  /* text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #121212;
  text-rendering: optimizelegibility;
  font-family: Open Sans, sans-serif; */
}

body{
  background-color: #121212;
}

.container {
   text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #121212;
  text-rendering: optimizelegibility;
  font-family: Open Sans, sans-serif;
}

